- content_for :body_class, "game"

.container
  .row
    .col-sm-12
      .btn-group.btn-group-justified
        - @areas.each do |area|
          - if @user_areas.include?(area.id)
            .btn.btn-default
              = area.name
          - else
            .btn.btn-default.disabled
              %span.ss-icon.ss-lock
              = area.name

  .row
    .col-sm-12
      = link_to "Battle Test", battle_index_path, :class => "btn btn-lg btn-default btn-block"