- content_for :body_class, "game area-#{current_user.get_current_user_area.name.downcase!.parameterize}"

.container
  .row
    .col-sm-12
      .btn-group.btn-group-justified
        - @areas.each do |area|
          - if @user_areas.include?(area.id)
            .btn.btn-default
              = area.name
          - else
            .btn.btn-default.disabled
              %span.ss-icon.ss-lock
              = area.name
  .row
    .col-sm-4
      %h2
        Eras
      .btn-group-vertical#eras
        .btn.btn-default
          Peaceful Era
        .btn.btn-default
          Golden Era
        .btn.btn-default
          Wartorn Era
        .btn.btn-default
          Dark Era
        .btn.btn-default
          Restoration Era

  .engage-battle.bottom
    = link_to "Battle Test", battle_index_path, :class => "btn btn-lg btn-default btn-block"