- content_for :body_class, "game"

.container
  .row
    .col-sm-6
      .well
        Name
        = current_user.username
        %b
          Stats


    .col-sm-6
      = link_to "Battle Test", battle_path, :class => "btn btn-default btn-block"