- content_for :body_class, "game"

.container
  .row
    .col-sm-6
      .well
        Name
        = current_user.username
        %b
          Stats


  .row
    .col-sm-12
      = link_to "Battle Test", battle_index_path, :class => "btn btn-lg btn-default btn-block"