- content_for :body_class, "inventory"

.container
  .row
    %h1
      #{current_user.username.capitalize}'s
      Inventory
  %hr
  .row
    %h3 
      Currently Equipped
    .col-sm-8
      .row
        .col-xs-4.col-xs-offset-4
          .well#equipped-head
        .col-xs-4
          .well#equipped-neck
      .row
        .col-xs-4
          .well#equpped-arm-1
        .col-xs-4
          .well#equipped-body
        .col-xs-4
          .well#equipped-arm-2
      .row
        .col-xs-4
          .well#equipped-hand-1
        .col-xs-4
          .well#equipped-legs
        .col-xs-4
          .well#equipped-hand-2
      .row
        .col-xs-4
          .well#equipped-ring-1
        .col-xs-4
          .well#equipped-feet
        .col-xs-4
          .well#equipped-ring-2

    .col-sm-4
      #current-stats
  
  .row
    %h3
      Tabled Loot Crate
    .col-xs-12
      %table#loot-crate.table-condensed{ :style => "background-color: white;" }
        %thead
          %tr
            %th
              Equipped
            %th
              
            %th
              Quantity
            %th
            %th
        %tbody
          - @user_inventory_item_names.each do |item|
            %tr{ :id => "item-id#{item.unique_item_id}" }

          %tr#item-id-10000001
            %td.equipped
              .ss-icon.ss-check.text-center.text-success
            %td.name
              %span
                %img{ :src => "http://placehold.it/50x50" }
              Chestpiece
              %span
                .caret  
            %td.quantity
              1
            %td.action
              %button.btn.btn-primary
                Equip
            %td.delete.danger
              %span.ss-icon.ss-trash

          %tr#item-id-100001
            %td.equipped
            %td.name
              %span
                %img{ :src => "http://placehold.it/50x50" }
              Potion
            %td.quantity
              3
            %td.action
              %button.btn.btn-primary
                Use
            %td.delete.danger
              %span.ss-icon.ss-trash







