- content_for :body_class, "inventory"

.container
  .row
    %h1
      #{current_user.username.capitalize}'s
      Inventory
  %hr
  .row
    %h3 
      Currently Equipped
    .col-sm-8
      .row
        .col-xs-4.col-xs-offset-4
          .well#equipped-head
        .col-xs-4
          .well#equipped-neck
      .row
        .col-xs-4
          .well#equpped-arm-1
        .col-xs-4
          .well#equipped-body
        .col-xs-4
          .well#equipped-arm-2
      .row
        .col-xs-4
          .well#equipped-hand-1
        .col-xs-4
          .well#equipped-legs
        .col-xs-4
          .well#equipped-hand-2
      .row
        .col-xs-4
          .well#equipped-ring-1
        .col-xs-4
          .well#equipped-feet
        .col-xs-4
          .well#equipped-ring-2

    .col-sm-4
      #current-stats
  .row
    %h3
      Loot Crate
    .col-xs-3
      = link_to "#", :class => "thumbnail" do
        %img{ :src => "http://placehold.it/150x150" }
        .caption
          %h3
            Title
  
  .row
    %h3
      Tabled Loot Crate
    .col-xs-12
      %table.table-condensed.table-bordered{ :style => "background-color: white;" }
        %thead
          %tr
            %th
              Equipped
            %th
              
            %th
              Quantity
            %th
            %th
        %tbody
          %tr
            %td
              .ss-icon.ss-check.text-center.text-success
            %td
              %span
                %img{ :src => "http://placehold.it/50x50" }
              Chestpiece
              %span
                .caret  
            %td
              1
            %td
              %button.btn.btn-primary
                Equip
            %td
              %span.ss-icon.ss-directleft

          %tr
            %td
            %td
              %span
                %img{ :src => "http://placehold.it/50x50" }
              Potion
            %td
              3
            %td
              %button.btn.btn-primary
                Use
            %td
              %span.ss-icon.ss-directright







