- content_for :body_class, "landing_page"
- provide :title, 'Home'

-# For non admins signed in
- if user_signed_in?
  %div

- elsif current_user.try(:admin?)
  %div
- else
  .jumbotron
    .container
      .row
        .col-sm-6
          %h2
            Timeless Online
          %h3
            Take a journey through time and space. Battle monsters, collect loot, and trade with your friends.
          = link_to "Play Now!", signup_path, :class => "btn btn-lg btn-success"
        .col-sm-6

  .container
    .row
      .col-sm-4
        .well
      .col-sm-4
        .well
      .col-sm-4
        .well