.atb-gauge {
  margin-top: 10px;
}
.atb-progress {
  height: 2px;
  color: #FFF;
}

.battle-log {
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}

#rewardNumericalGains,
#rewardItems {
  display: none;
}

