// Greyscale // -----------------------------------------------
$white: rgb(255,255,255);
$grey_0: rgb(245, 245, 245);  
$grey_1: rgb(230, 229, 229);
$grey_2: rgb(200, 199, 199);
$grey_3: rgb(170, 169, 169);
$grey_4: rgb(153, 153, 153);
$grey_5: rgb(110, 109, 109);
$grey_5: rgb(90, 89, 89);
$grey_6: rgb(62, 62, 62);
$grey_7: rgb(26, 26, 26);
$black: rgb(0,0,0);

// Reds // ----------------------------------------------------
$danger: rgb(217, 83, 79);
$orange: rgb(213, 72, 42);

// Blues // --------------------------------------------------
$aqua: rgb(0, 119, 255);
$teal: rgb(66, 139, 202);
$purple: rgb(30, 48, 221);
$mana_blue: rgb(72, 118, 255);

// Links // ---------------------------------------------------


// Inputs // --------------------------------------------------
$button_default_grey_border: rgb(180, 185, 197);
$button_default_grey_background_color: rgb(238, 240, 247);

$button_success_green_border: #4cae4c;
$button_success_green_background_color: #5cb85c;

$button_primary_border: #357ebd;
$button_primary_background_color: #428bca;

// Text // --------------------------------------------------
