// Greyscale // -----------------------------------------------
$white: rgb(255,255,255);
$grey_1: rgb(230, 229, 229);
$grey_2: rgb(200, 199, 199);
$grey_3: rgb(170, 169, 169);
$grey_4: rgb(153, 153, 153);
$grey_5: rgb(110, 109, 109);
$grey_5: rgb(90, 89, 89);
$grey_6: rgb(62, 62, 602);
$grey_7: rgb(26, 26, 26);
$black: rgb(0,0,0);

// Reds // ----------------------------------------------------
$danger: rgb(217, 83, 79);
$orange: rgb(213, 72, 42);

// Blues // ----------------------------------------------------
$aqua: rgb(0, 119, 255);
$teal: rgb(66, 139, 202);
$purple: rgb(30, 48, 221);

// Links // ---------------------------------------------------


// Inputs // --------------------------------------------------


// Text // --------------------------------------------------
