@import 'colors';



.hidden {
  display: none;
}
.ethereal {
  background-color: rgba(0,0,0,0.4);
}

.danger {
  background-color: $danger;
  color: $white;
}
.inventory-jumbotron section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.no-margin {
  margin: 0;
}
.margin-tall-1 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.margin-tall-2 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.margin-tall-3 {
  margin-top: 75px;
  margin-bottom: 75px;
}
.margin-tall-4 {
  margin-top: 100px;
  margin-bottom: 100px;
}


.navbar {
  border-bottom: 2px solid $orange;
  margin-bottom: 0;
}
.navbar {
  border-radius: 0;
}
.remove-progress-bar-transition {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.progress {
  background-color: $grey_7;
  border-radius: 0;
  box-shadow: 0px 0px 2px $black;
  height: 2px;
}
.progress-bar {
  background-color: $white;
}
.player-exp-bar {
  background-color: $white;
}
.hp-progress-bar {
  background-color: red;
}
.mp-progress-bar {
  background-color: $mana-blue;
}
.exp-progress {
  margin: 11px 0 0 0;
  height: 16px;
}


// Alignments // ----------------------------------------------------


// Inputs // ----------------------------------------------------

input[type=text],
input[type=email],
input[type=password] {
  background-color: $grey_0;
  border-radius: 0;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  box-shadow: 0 0 2px $orange;
  border-color: lighten($orange, 7%);
}
.btn {
  border-radius: 0;
}
.btn-default {
  background-color: $grey_0;
  border: 1px solid $button_default_grey_border;
  background-image: -webkit-linear-gradient(top, $grey_0, darken($grey_0, 5%));
  background-image: -moz-linear-gradient(top, $grey_0, darken($grey_0, 5%));
  background-image: -ms-linear-gradient(top, $grey_0, darken($grey_0, 5%));
  background-image: -o-linear-gradient(top, $grey_0, darken($grey_0, 5%));
  background-image: linear-gradient(top, $grey_0, darken($grey_0, 5%));
  box-shadow: inset 0 1px $white,inset 0 -2px rgba(0,0,0,0.05);

  &:hover {
    border-bottom: 1px solid darken($button_default_grey_border, 7%);
    background-image: -webkit-linear-gradient(top, $grey_0, darken($grey_0, 2%));
    background-image: -moz-linear-gradient(top, $grey_0, darken($grey_0, 2%));
    background-image: -ms-linear-gradient(top, $grey_0, darken($grey_0, 2%));
    background-image: -o-linear-gradient(top, $grey_0, darken($grey_0, 2%));
    background-image: linear-gradient(top, $grey_0, darken($grey_0, 2%));
    box-shadow: 0 0 3px $grey_2;
  }
}
.btn-success {
  background-color: $button_success_green_background_color;
  border: 1px solid $button_success_green_border;
  background-image: -webkit-linear-gradient(top, $button_success_green_background_color, darken($button_success_green_background_color, 5%));
  background-image: -moz-linear-gradient(top, $button_success_green_background_color, darken($button_success_green_background_color, 5%));
  background-image: -ms-linear-gradient(top, $button_success_green_background_color, darken($button_success_green_background_color, 5%));
  background-image: -o-linear-gradient(top, $button_success_green_background_color, darken($button_success_green_background_color, 5%));
  background-image: linear-gradient(top, $button_success_green_background_color, darken($button_success_green_background_color, 5%));
    /* Change the alpha value in this */
  box-shadow: inset 0 1px $button_success_green_border,inset 0 -2px rgba(0,0,0,0.05);

  &:hover {
    border: 1px solid darken($button_success_green_border, 7%);
    background-image: -webkit-linear-gradient(top, $button_success_green_background_color, darken($button_success_green_background_color, 2%));
    background-image: -moz-linear-gradient(top, $button_success_green_background_color, darken($button_success_green_background_color, 2%));
    background-image: -ms-linear-gradient(top, $button_success_green_background_color, darken($button_success_green_background_color, 2%));
    background-image: -o-linear-gradient(top, $button_success_green_background_color, darken($button_success_green_background_color, 2%));
    background-image: linear-gradient(top, $button_success_green_background_color, darken($button_success_green_background_color, 2%));
    box-shadow: 0 0 3px $button_success_green_border;
  }
}
.btn-primary {
  background-color: $button_primary_background_color;
  border: 1px solid $button_primary_border;
  background-image: -webkit-linear-gradient(top, $button_primary_background_color, darken($button_primary_background_color, 5%));
  background-image: -moz-linear-gradient(top, $button_primary_background_color, darken($button_primary_background_color, 5%));
  background-image: -ms-linear-gradient(top, $button_primary_background_color, darken($button_primary_background_color, 5%));
  background-image: -o-linear-gradient(top, $button_primary_background_color, darken($button_primary_background_color, 5%));
  background-image: linear-gradient(top, $button_primary_background_color, darken($button_primary_background_color, 5%));
    /* Change the alpha value in this */
  box-shadow: inset 0 1px $button_primary_border,inset 0 -2px rgba(0,0,0,0.05);

  &:hover {
    border: 1px solid darken($button_primary_border, 7%);
    background-image: -webkit-linear-gradient(top, $button_primary_background_color, darken($button_primary_background_color, 2%));
    background-image: -moz-linear-gradient(top, $button_primary_background_color, darken($button_primary_background_color, 2%));
    background-image: -ms-linear-gradient(top, $button_primary_background_color, darken($button_primary_background_color, 2%));
    background-image: -o-linear-gradient(top, $button_primary_background_color, darken($button_primary_background_color, 2%));
    background-image: linear-gradient(top, $button_primary_background_color, darken($button_primary_background_color, 2%));
    box-shadow: 0 0 3px $aqua;
  }
}

// Game Backgrounds // ----------------------------------------------------

.area-tainted-grassland {
  background: url(tainted_grassland_placeholder_1024x614.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}