@import 'colors';

.hidden {
  display: none;
}
.atb-gauge {
  height: 5px;
}
body {
  background: url('dusk.png') bottom fixed;
}
.ethereal {
  background-color: rgba(0,0,0,0.4);
}
.no-margin {
  margin: 0;
}

.danger {
  background-color: $danger;
  color: $white;
}

p {
  color: $grey_3;
}