@import 'colors';

.hidden {
  display: none;
}
.ethereal {
  background-color: rgba(0,0,0,0.4);
}

.danger {
  background-color: $danger;
  color: $white;
}
.inventory-jumbotron section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.no-margin {
  margin: 0;
}
.margin-tall-1 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.margin-tall-2 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.margin-tall-3 {
  margin-top: 75px;
  margin-bottom: 75px;
}
.margin-tall-4 {
  margin-top: 100px;
  margin-bottom: 100px;
}



// Alignments // ----------------------------------------------------


// Inputs // ----------------------------------------------------

input[type=text],
input[type=email],
input[type=password] {
  background-color: $grey_0;
  border-radius: 0;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  box-shadow: 0 0 2px $orange;
  border-color: lighten($orange, 7%);
}